.card-list {
    height: calc(100vh - 300px);
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--light-theme);
        border-radius: 0;
        height: 0 !important;
    }

}
