.content-header {
    height: 70px;

    .content-header-inner {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: end;
        align-items: center;

        @media screen and (max-width: 576px) {
            justify-content: space-between;
        }

        .sidebar-toggle {
            display: none;

            @media screen and (max-width: 576px) {
                display: inline-block;
            }

        }

        .user-image {
            width: 30px;
            height: 30px;
        }

    }

}
