.sidebar {
    width: 250px;
    height: 100vh;

    @media screen and (max-width: 991px) {
        width: 60px;
    }

    @media screen and (max-width: 576px) {
        position: fixed;
        left: -250px;
        top: 0;
        bottom: 0;
        width: 250px;
        height: 100%;
        background-color: var(--white);
        z-index: 10;
        transition: 0.3s all ease-in-out;
        box-shadow: 0 0 4px 0 var(--border-color);

        &.active {
            transition: 0.3s all ease-in-out;
            left: 0;
        }

    }

    .sidebar-header {
        height: 70px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 0 20px;

        @media screen and (max-width: 991px) {
            padding: 0;
            text-align: center;
        }

        @media screen and (max-width: 576px) {
            padding: 0 20px;
            text-align: start;
        }

        .sidebar-header-link {
            font-size: 18px;
            text-decoration: none;
            color: var(--light-gray);
            display: block;
            padding: 10px 20px;
            width: 100%;
            transition: 0.3s all ease-in-out;

            .text-link {
                @media screen and (max-width: 991px) {
                    display: none;
                }
                @media screen and (max-width: 576px) {
                    display: block;
                }
            }

            .res-link {
                display: none;
                @media screen and (max-width: 991px) {
                    display: block;
                }
                @media screen and (max-width: 576px) {
                    display: none;
                }
            }

        }

        .sidebar-close {
            display: none;

            @media screen and (max-width: 576px) {
                display: inline-block;
            }

        }

    }

    .sidebar-body {
        height: calc(100vh - 70px);
        padding: 10px 20px;

        @media screen and (max-width: 991px) {
            padding: 20px 10px;
        }

        .sidebar-body-link {
            text-decoration: none;
            color: var(--light-gray);
            display: block;
            padding: 10px 20px;
            transition: 0.3s all ease-in-out;
            margin-bottom: 5px;
            font-size: 14px;

            @media screen and (max-width: 991px) {
                padding: 10px 0;
                text-align: center;
                border-radius: 10px;
            }

            @media screen and (max-width: 576px) {
                padding: 5px 10px;
                text-align: start;
                border-radius: 0;
            }

            .text-link {
                @media screen and (max-width: 991px) {
                    display: none;
                }
                @media screen and (max-width: 576px) {
                    display: inline-block;
                }
            }

            &:hover, &.router-link-active {
                color: var(--theme);

                @media screen and (max-width: 991px) {
                    background-color: var(--light-theme);
                }

                @media screen and (max-width: 576px) {
                    background-color: transparent;
                }

            }

        }

    }

}
