/* button */

.btn-icon {
    background-color: transparent;
    transition: 0.3s all ease-in-out;
    color: var(--light-gray) !important;

    &:hover {
        transition: 0.3s all ease-in-out;
        background-color: var(--light-theme) !important;
    }
}

.btn-category {
    color: var(--light-gray) !important;
    border: 0 !important;
    border-bottom: 2px solid var(--light-gray) !important;
    transition: 0.3s all ease-in-out;

    &:hover, &.active {
        transition: 0.3s all ease-in-out;
        color: var(--theme-danger) !important;
        border: 0 !important;
        border-bottom: 2px solid var(--theme-danger) !important;
    }

}

.btn-theme {
    background-color: var(--theme) !important;
    color: var(--white) !important;
    transition: 0.3s all ease-in-out;
    border: 1px solid var(--theme) !important;

    &:hover {
        transition: 0.3s all ease-in-out;
        background-color: var(--dark-theme) !important;
        color: var(--white) !important;
        border: 1px solid transparent !important;
    }
}

.btn-outline-theme {
    background-color: transparent !important;
    color: var(--theme) !important;
    border: 1px solid var(--theme) !important;
    transition: 0.3s all ease-in-out;

    &:hover {
        background-color: var(--theme) !important;
        color: var(--white) !important;
        border: 1px solid var(--theme) !important;
        transition: 0.3s all ease-in-out;
    }
}

.btn-theme-danger {
    background-color: var(--theme-danger) !important;
    color: var(--white) !important;
    transition: 0.3s all ease-in-out;
    border: 1px solid var(--theme-danger) !important;

    &:hover {
        transition: 0.3s all ease-in-out;
        background-color: var(--dark-theme-danger) !important;
        color: var(--white) !important;
        border: 1px solid transparent !important;
    }
}

.btn-outline-theme-danger {
    background-color: transparent !important;
    color: var(--theme-danger) !important;
    border: 1px solid var(--theme-danger) !important;
    transition: 0.3s all ease-in-out;

    &:hover {
        background-color: var(--theme-danger) !important;
        color: var(--white) !important;
        border: 1px solid var(--theme-danger) !important;
        transition: 0.3s all ease-in-out;
    }
}

.btn-theme-success {
    background-color: var(--theme-success) !important;
    color: var(--white) !important;
    transition: 0.3s all ease-in-out;
    border: 1px solid var(--theme-success) !important;

    &:hover {
        transition: 0.3s all ease-in-out;
        background-color: var(--dark-theme-success) !important;
        color: var(--white) !important;
        border: 1px solid transparent !important;
    }
}

.btn-outline-theme-success {
    background-color: transparent !important;
    color: var(--theme-success) !important;
    border: 1px solid var(--theme-success) !important;
    transition: 0.3s all ease-in-out;

    &:hover {
        background-color: var(--theme-success) !important;
        color: var(--white) !important;
        border: 1px solid var(--theme-success) !important;
        transition: 0.3s all ease-in-out;
    }
}
