/* dropdown */

.dropdown {
    .dropdown-menu {
        @media screen and (min-width: 991px) {
            width: 200px;
        }
        .dropdown-item {
            font-size: 14px !important;
            color: var(--light-gray) !important;
            background-color: transparent !important;
            padding: 10px 20px;
            transition: 0.3s all ease-in-out;

            &:hover, &.router-link-active {
                transition: 0.3s all ease-in-out;
                color: var(--theme) !important;
            }
        }
    }
}
