.form-control {
    transition: 0.3s all ease-in-out;
    border: 1px solid var(--bs-border-color) !important;
    box-shadow: 0 0 0 0 !important;
    outline: none !important;
    border-radius: 5px !important;
    color: var(--light-gray) !important;

    &:active, &:focus {
        transition: 0.3s all ease-in-out;
        border: 1px solid var(--theme) !important;
    }

}

.form-select {
    transition: 0.3s all ease-in-out;
    border: 1px solid var(--bs-border-color) !important;
    box-shadow: 0 0 0 0 !important;
    outline: none !important;
    border-radius: 5px !important;
    color: var(--light-gray) !important;

    &:active, &:focus {
        transition: 0.3s all ease-in-out;
        border: 1px solid var(--theme) !important;
    }

}

.form-textarea {
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    transition: 0.3s all ease-in-out;
    border: 1px solid var(--bs-border-color) !important;
    box-shadow: 0 0 0 0 !important;
    outline: none !important;
    border-radius: 5px !important;
    color: var(--light-gray) !important;

    &:active, &:focus {
        transition: 0.3s all ease-in-out;
        border: 1px solid var(--theme) !important;
    }

}

.form-checkbox[type=checkbox] {
    position: relative;
    border: 2px solid var(--bs-border-color);
    border-radius: 2px;
    background: none;
    cursor: pointer;
    line-height: 0;
    margin: 0 .6em 0 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    opacity: .5;

    &[type=checkbox]:hover {
        opacity: 1;
    }

    &[type=checkbox]:checked {
        border: 2px solid transparent;
        background-color: var(--theme);
        opacity: 1;

        &[type=checkbox]:before {
            content: '';
            position: absolute;
            right: 50%;
            top: 50%;
            width: 5px;
            border: solid #FFF;
            height: 12px;
            border-width: 0 2px 2px 0;
            margin: -1px -1px 0 -1px;
            transform: rotate(45deg) translate(-50%, -50%);
            z-index: 2;
        }

    }

    &[type=checkbox]:before {
        content: '';
        position: absolute;
        right: 50%;
        top: 50%;
        width: 7px;
        height: 14px;
        border: transparent;
        border-width: 0 2px 2px 0;
        margin: -1px -1px 0 -1px;
        transform: rotate(45deg) translate(-50%, -50%);
        z-index: 2;
    }

}

.form-radio[type=radio] {
    position: relative;
    border: 2px solid var(--bs-border-color) !important;
    border-radius: 50%;
    background: none !important;
    cursor: pointer;
    line-height: 0;
    margin: 0 .6em 0 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    opacity: .5;

    &[type=radio]:hover {
        opacity: 1;
    }

    &[type=radio]:checked {
        border: 2px solid transparent !important;
        background-color: var(--theme) !important;
        opacity: 1;

        &[type=radio]:before {
            content: "";
            position: absolute;
            right: 3px;
            top: 12.4px;
            width: 12px;
            height: 12px;
            border: 3px solid #FFF !important;
            border-radius: 50%;
            background: var(--white) !important;
            margin: -1px -1px 0 -1px;
            transform: rotate(45deg) translate(-53%, -53%);
            z-index: 2;
        }

    }

    &[type=radio]:before {
        content: '';
        position: absolute;
        right: 50%;
        top: 50%;
        width: 7px;
        height: 14px;
        border: transparent !important;
        border-width: 0 2px 2px 0;
        margin: -1px -1px 0 -1px;
        transform: rotate(45deg) translate(-50%, -50%);
        z-index: 2;
    }

}
